@font-face {
  font-family: "Ibm";
  src: url(../font/IBMPlexMono-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Ibm";
  src: url(../font/IBMPlexMono-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Libre";
  src: url(../font//LibreFranklin.ttf) format("truetype");
  font-weight: normal;
}
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-green: rgba(90, 185, 99, 1);
  --color-grey: rgba(153, 153, 153, 1);
  --color-black: rgba(10, 14, 26, 1);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

ol, ul, li {
  list-style: none;
  text-decoration: none;
}

button, input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  border: none;
  text-decoration: none;
}

svg {
  width: 126px;
  height: 30px;
}

.hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--color-white);
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}

.hover-effect.hover-left::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.hover-effect.hover-right::after {
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.hover-effect.hover-left:hover::after,
.hover-effect.hover-right:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.none {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-effect {
  display: none;
  -webkit-animation-name: fade-in-top;
          animation-name: fade-in-top;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.title-effect {
  -webkit-animation-name: slide-in-bck-left;
          animation-name: slide-in-bck-left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-100px);
            transform: translateZ(700px) translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-100px);
            transform: translateZ(700px) translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.fade-animation-loader-left, .fade-animation-loader-right, .fade-animation-loader-bottom {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.fade-animation-loader-left.fade-in-left {
  opacity: 1;
  -webkit-animation-name: fade-in-left;
          animation-name: fade-in-left;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.fade-animation-loader-right.fade-in-right {
  opacity: 1;
  -webkit-animation-name: fade-in-right;
          animation-name: fade-in-right;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.fade-animation-loader-bottom.fade-in-bottom {
  opacity: 1;
  -webkit-animation-name: fade-in-bottom;
          animation-name: fade-in-bottom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.show-card-block:nth-child(1) {
  -webkit-animation: slit-in-horizontal 2s;
          animation: slit-in-horizontal 2s;
}

.show-card-block:nth-child(2) {
  -webkit-animation: slit-in-horizontal 4s;
          animation: slit-in-horizontal 4s;
}

.show-card-block:nth-child(3) {
  -webkit-animation: slit-in-horizontal 6s;
          animation: slit-in-horizontal 6s;
}

@-webkit-keyframes slit-in-horizontal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slit-in-horizontal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.litle-slider {
  width: 100%;
  overflow: hidden;
}

.litle-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.litleslide {
  min-width: 100%;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 30px;
}
.header svg {
  width: 125.6px;
  height: 30px;
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.desktop-nav > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}
.desktop-nav .rectangle {
  width: 4px;
  height: 4px;
  background: var(--color-white);
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user > button {
  background: transparent;
  width: 120px;
  height: 46px;
  font-family: Libre;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 4px;
  margin: auto auto;
}

.link {
  display: inline-block;
  cursor: pointer;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 3px;
  font-family: Libre;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-white);
}

.main {
  width: 100%;
  height: 582px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/f06a93ab07eecf47822e521dc4b9cb7f.jpeg);
}
.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-body h1 {
  font-family: Libre;
  font-size: 71px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 1px;
  color: var(--color-white);
}
.main-body h2 {
  padding-top: 24px;
  font-family: Ibm;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--color-white);
}

.btn-first {
  width: 160px;
  height: 60px;
  margin-top: 78px;
  background: var(--color-green);
  font-family: Libre;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--color-white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-first:hover {
  -webkit-filter: grayscale(45%) contrast(145%);
          filter: grayscale(45%) contrast(145%);
}

.promouting {
  margin-top: 120px;
  padding-bottom: 120px;
}
.promouting-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.promouting-title {
  width: 544px;
}
.promouting-title h3 {
  font-family: Libre;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
.promouting-title h3 span {
  font-weight: 100;
}
.promouting-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.promouting-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 330px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.promouting-card-body svg {
  width: 60px;
  height: 60px;
}
.promouting-card-body h4 {
  font-family: Libre;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.promouting-card-body p {
  font-family: Ibm;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-grey);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 120px;
}
.slider > .body {
  max-width: 1380px;
  height: 720px;
  margin-bottom: 120px;
}
.slider > .body > .paginator {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 13px;
}
.slider > .subtitle {
  width: 685px;
  text-align: center;
}
.slider > .subtitle p {
  font-family: Libre;
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
  margin: 0;
  color: var(--color-grey);
}
.slider > .subtitle p span {
  font-weight: 700;
  color: var(--color-black);
}
.slider > .subtitle a {
  font-family: IBM Plex Mono;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-green);
}

.paginator-rectangle {
  width: 6px;
  height: 6px;
  margin-left: 6px;
  margin-right: 6px;
  background: var(--color-white);
  cursor: pointer;
}

.active {
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-green);
}

.portfolio {
  margin-bottom: 60px;
}
.portfolio-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio-body-left {
  padding-bottom: 60px;
}
.portfolio-body-left > .left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.portfolio-body-left-img {
  max-width: 470px;
  height: 430px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/774d76cdf66665259bcf8c5902fa136c.jpeg);
}
.portfolio-body-left-text {
  padding-left: 90px;
  width: 370px;
}
.portfolio-body-left-text h5 {
  font-family: Libre;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: var(--color-grey);
}
.portfolio-body-left-text h5 span {
  font-weight: 700;
  color: var(--color-black);
}
.portfolio-body-left-text p {
  font-family: Ibm;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-grey);
}
.portfolio-body-right > .right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.portfolio-body-right-img {
  max-width: 470px;
  height: 430px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/cf38c389685c1f3dd396a7bfe9620b47.jpeg);
}
.portfolio-body-right-text {
  padding-right: 90px;
  width: 370px;
}
.portfolio-body-right-text h5 {
  font-family: Libre;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: var(--color-grey);
}
.portfolio-body-right-text h5 span {
  font-weight: 700;
  color: var(--color-black);
}
.portfolio-body-right-text p {
  font-family: Ibm;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-grey);
}
.portfolio-footer {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio-footer h5 {
  font-family: Libre;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--color-black);
}
.portfolio-footer a {
  color: var(--color-green);
  font-family: Ibm;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.party {
  margin-bottom: 120px;
}
.party-body {
  padding-top: 60px;
  border-top: 1px solid var(--color-grey);
}
.party-body-content {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.party-body-content-text {
  width: 483px;
}
.party-body-content-text h5 {
  font-family: Libre;
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
  color: var(--color-grey);
}
.party-body-content-text h5 span {
  font-weight: 400;
  color: var(--color-black);
}
.party-body-content button {
  width: 160px;
  height: 60px;
  background: var(--color-green);
  color: var(--color-white);
  border-radius: 4px;
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.one p {
  font-family: Libre;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: var(--color-green);
  text-transform: capitalize;
  margin: 0;
}
.one-line {
  margin-left: 20px;
  width: 30px;
  height: 2px;
  background-color: var(--color-green);
}

.footer {
  width: 100%;
  height: 399px;
  background-color: var(--color-black);
  padding-top: 120px;
}
.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-body-copyright p {
  padding-top: 20px;
  font-family: Libre;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgb(102, 102, 102);
}
.footer-body-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer-body-nav-block {
  margin-right: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-body-nav-block li {
  margin-bottom: 25px;
}
.footer-body-nav-block a {
  font-family: Libre;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--color-white);
}
.footer-body-nav-block:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-body-nav-block:last-child a > svg {
  width: 12px;
  height: 10px;
  margin-right: 25px;
}