@font-face {
  font-family: "Ibm";
  src: url(../font/IBMPlexMono-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Ibm";
  src: url(../font/IBMPlexMono-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Libre";
  src: url(../font//LibreFranklin.ttf) format("truetype");
  font-weight: normal;
}
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-green: rgba(90, 185, 99, 1);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

ol, ul, li {
  list-style: none;
  text-decoration: none;
}

button, input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  border: none;
  text-decoration: none;
}

svg {
  width: 126px;
  height: 30px;
}

.hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--color-white);
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}

.hover-effect.hover-left::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.hover-effect.hover-right::after {
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.hover-effect.hover-left:hover::after,
.hover-effect.hover-right:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.none {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-effect {
  display: none;
  -webkit-animation-name: fade-in-top;
          animation-name: fade-in-top;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.title-effect {
  -webkit-animation-name: slide-in-bck-left;
          animation-name: slide-in-bck-left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-100px);
            transform: translateZ(700px) translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-100px);
            transform: translateZ(700px) translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 30px;
}
.header svg {
  width: 125.6px;
  height: 30px;
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.desktop-nav > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}
.desktop-nav .rectangle {
  width: 4px;
  height: 4px;
  background: var(--color-white);
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user > button {
  background: transparent;
  width: 120px;
  height: 46px;
  font-family: Libre;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 4px;
  margin: auto auto;
}

.link {
  display: inline-block;
  cursor: pointer;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 3px;
  font-family: Libre;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-white);
}

.main {
  width: 100%;
  height: 582px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/f06a93ab07eecf47822e521dc4b9cb7f.jpeg);
}
.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-body h1 {
  font-family: Libre;
  font-size: 71px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 1px;
  color: var(--color-white);
}
.main-body h2 {
  padding-top: 24px;
  font-family: Ibm;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--color-white);
}

.btn-first {
  width: 160px;
  height: 60px;
  margin-top: 78px;
  background: var(--color-green);
  font-family: Libre;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--color-white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-first:hover {
  -webkit-filter: grayscale(45%) contrast(145%);
          filter: grayscale(45%) contrast(145%);
}

.promouting {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
.promouting-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.promouting-title {
  width: 544px;
}
.promouting-title h3 {
  font-family: Libre;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.promouting-title h3 span {
  font-weight: 100;
}
.promouting-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}
.promouting-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 330px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.promouting-card-body svg {
  width: 60px;
  height: 60px;
}
.promouting-card-body h4 {
  font-family: Libre;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.promouting-card-body p {
  font-family: Ibm;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(153, 153, 153);
}