.flick{
    display: inline-block;
    cursor: pointer
}

.flick::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;

    background: var(--color-white);
    box-shadow: 0 0 4px 3px var(--color-white);

    
}


@keyframes tu-tu {
    0%{
        top: -2px;
        left: -2px;
        transform: scaleX(1);
        transform-origin: left;
        
    }
    50%{
        right: 2px;
        transform: scaleX(1);
        transform-origin: right;
    }

}